body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

 p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #404040; /* Dark Gray */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #686868; /* Slate Gray */
    color: #ffffff;
  }
  .bg-4 { 
    background-color: #a0a0a0; /* Gray */
    color: #ffffff;
  }
  .bg-5 { 
    background-color: #bebebe; /* Light Gray */
    color: #ffffff;
  }
  .bg-6 { 
    background-color: #dcdcdc; /* Lightest Gray */
    color: #555555;
  }
  .bg-7 { 
    background-color: #f8f8f8; /* White Gray */
    color: #555555;
  }
   .bg-8 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-9 { 
    background-color: #ffdd33; /* Yellow */
    color: #555555;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .container-fluid2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  .row-m-t{
  margin-top : 20px
  }
  .btn-sq-lg-1 {
  width: 150px !important;
  height: 150px !important;
  line-height: 75px;
  box-sizing: border-box;
  background-color: #ffdd33;
  color: #555555;
  }
  .btn-sq-lg-1:hover {
    background-color: #686868;
  }
  .btn-sq-lg-2 {
  width: 150px !important;
  height: 150px !important;
  line-height: 75px;
  box-sizing: border-box;
  background-color: #dcdcdc;
  color: #555555;
  }
  .btn-sq-lg-2:hover {
    background-color: #686868;
  }
  .btn-sq-lg-3 {
  width: 150px !important;
  height: 150px !important;
  line-height: 75px;
  box-sizing: border-box;
  background-color: #2f2f2f;
  color: #ffffff;
  }
  .btn-sq-lg-3:hover {
    background-color: #686868;
  }

  .btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
  }

  .btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
  }

  .btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
  }

  h3 {font-size: 16px;
	color: #ffffff;
}